## Zomato Recommender : Building an intelligent food recommendation systemz

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('C:\\Users\\Meghana\\Downloads\\zomato_dataset.csv')
df

,Restaurant Name,Dining Rating,Delivery Rating,Dining Votes,Delivery Votes,Cuisine,Place Name,City,Item Name,Best Seller,Votes,Prices
0,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Platter Kebab Combo,BESTSELLER,84,249.0
1,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken Rumali Shawarma,BESTSELLER,45,129.0
2,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken Tandoori Salad,NaN,39,189.0
3,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken BBQ Salad,BESTSELLER,43,189.0
4,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Special Doner Wrap Combo,MUST TRY,31,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...
123652,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Reshmi Kebab,NaN,0,525.0
123653,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Large Tikka,NaN,0,525.0
123654,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Chukandri Tikka,NaN,0,525.0
123655,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Golden Kebab,NaN,0,525.0
123656,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Gosht Gilawat Chop,BESTSELLER,0,595.0

In [27]:
df.shape

(123657, 12)

In [28]:
df.columns

Index(['Restaurant Name', 'Dining Rating', 'Delivery Rating', 'Dining Votes',
       'Delivery Votes', 'Cuisine ', 'Place Name', 'City', 'Item Name',
       'Best Seller', 'Votes', 'Prices'],
      dtype='object')

In [4]:
# prints the no of restaurants in a city 
df['City'].value_counts()

 Hyderabad       15613
 Jaipur          14438
 Mumbai          13535
 Chennai         13100
 Bangalore       12040
 Ahmedabad       10178
 Kolkata          8662
 Pune             8067
 Kochi            7759
 Raipur           7700
 Lucknow          6455
 New Delhi        3490
 Goa              2360
 Banaswadi          97
 Ulsoor             66
 Magrath Road       54
 Malleshwaram       43
Name: City, dtype: int64

In [30]:
df['Item Name'].value_counts() ## filtering

Veg Fried Rice                   322
Paneer Butter Masala             319
Chicken Fried Rice               278
Jeera Rice                       231
Chicken Biryani                  226
                                ...
Chicken Chinese Choupsey           1
Chicken Burn Chilli Noodles        1
Chicken Chilli Oyster Noodles      1
Prawn American Choupsey            1
ChickenTuktuk                      1
Name: Item Name, Length: 55693, dtype: int64

In [5]:
# to get the particular item related restaraunts 
df[df['Item Name']=='Chicken Biryani']

,Restaurant Name,Dining Rating,Delivery Rating,Dining Votes,Delivery Votes,Cuisine,Place Name,City,Item Name,Best Seller,Votes,Prices
178,Crystal Restaurant & Bar,4.2,3.9,697,0,Biryani,Nallakunta,Hyderabad,Chicken Biryani,BESTSELLER,609,230.0
352,Crystal Restaurant & Bar,4.2,3.9,697,0,Biryani,Nallakunta,Hyderabad,Chicken Biryani,BESTSELLER,609,230.0
1007,Papadams Blue,4.0,3.9,625,0,Desserts,Kothapet,Hyderabad,Chicken Biryani,BESTSELLER,60,295.0
1210,Papadams Blue,4.0,3.9,625,0,Desserts,Kothapet,Hyderabad,Chicken Biryani,BESTSELLER,60,295.0
3515,Yashwanth Pizza Den,NaN,4.0,0,15,Beverages,RTC X roads,Hyderabad,Chicken Biryani,NaN,0,149.0
...,...,...,...,...,...,...,...,...,...,...,...,...
121502,Chapter One,4.3,3.8,20,228,Pizza,Shankar Nagar,Raipur,Chicken Biryani,BESTSELLER,21,189.0
121915,Tandoor -3 Family Dhaba,3.2,4.0,28,0,Pizza,Mahaveer Nagar,Raipur,Chicken Biryani,BESTSELLER,28,160.0
122048,Tandoor -3 Family Dhaba,3.2,4.0,28,0,Pizza,Mahaveer Nagar,Raipur,Chicken Biryani,BESTSELLER,28,160.0
122096,Chef's Kitchen,4.0,3.9,413,0,Pizza,Civil Lines,Raipur,Chicken Biryani,MUST TRY,86,250.0
122311,Chef's Kitchen,4.0,3.9,413,0,Pizza,Civil Lines,Raipur,Chicken Biryani,BESTSELLER,86,250.0

In [31]:
df.describe()

,Dining Rating,Delivery Rating,Dining Votes,Delivery Votes,Votes,Prices
count,91421.000000,122377.000000,123657.000000,123657.000000,123657.000000,123657.000000
mean,3.822264,3.963184,152.729858,115.763725,24.666772,241.378399
std,0.408693,0.245900,232.214061,243.970828,125.236009,192.830713
min,2.500000,2.500000,0.000000,0.000000,0.000000,0.950000
25%,3.600000,3.800000,0.000000,0.000000,0.000000,130.000000
50%,3.900000,4.000000,30.000000,0.000000,0.000000,208.570000
75%,4.100000,4.100000,217.000000,23.000000,15.000000,299.000000
max,4.800000,4.600000,997.000000,983.000000,9750.000000,12024.000000

In [32]:
df['Restaurant Name'].unique()

array(['Doner King', 'Taco Bell', 'BrownBear', 'Crystal Restaurant & Bar',
       'Siddique Kabab Centre', 'Shah Ghouse Special Shawarma',
       'Taj Mahal - Taj Mahal Hotel', 'Burger King', 'Papadams Blue',
       'Ovenstory Pizza', 'Italian Pizzeria', 'Al Rabea Mandi House',
       'Govind Dosa', 'Universal Al Mataam Mandi Kebab & Biryani',
       'The Thickshake Factory', 'Platform 65', 'Food Track',
       'The Burger Club', 'Acme Candy Food', 'MS Bakery & Sweets',
       'New Grand Restaurant & Bakery', 'Al - Hamoor Arabian Restaurant',
       "McDonald's", 'Capital Multi Cuisine Restaurant',
       'Mayur Pan House', 'Yashwanth Pizza Den', 'Hotel Nayaab',
       'Red Bucket Biryani', 'Hotel Shadab', 'Mughal Restaurant',
       'UBQ by Barbeque Nation', 'Santosh Dhaba', 'Tipsy Topsy Bakery',
       'Shah Ghouse Hotel & Restaurant', "La Pino'z Pizza", 'Istanbul',
       'Iqbal Cafe', 'Barbeque Nation',
       'Kwality Wall\x92s Frozen Dessert and Ice Cream Shop',
       'Akbar Fast Food', 'The Belgian Waffle Co.', 'Nimrah Restaurant',
       'Marhaba Shawarma & Wraps', 'Mandi Town', 'Paradise Biryani',
       'Redaan Restaurant', 'Sip & Bite', 'Peshawar',
       'Al Farooj Sonu Kabab', 'Lucky Restaurant',
       'Zomoz - The Momo Company', 'Ambika Foods', 'Swagth Hotel',
       'Onesta', 'Subhan Bakery', 'MRCB', 'Shree Santosh Family Dhaba',
       'Fancy Ice Cream', 'Blue Sea Restaurant', 'Mataam Al Yamani',
       'Mohammedia Shawarma', "Wendy's Burgers", 'The Exotic Shawarma',
       'Cafe Niloufer', '4M Biryani House', 'Grand Bawarchi Restaurant',
       'California Burrito', 'Sarvi Restaurant', 'Grand Hotel',
       "Barrack's Grill", 'Pista House Bakery', 'KS Bakers',
       'Pista House', 'Captain Kunafa', "Zafar's Fine Dine",
       'Amfah Hotel', 'Al Akbar Fast Food Corner',
       "Chotu's The Food People", 'Subway', 'CakeZone',
       'Faasos - Wraps & Rolls', 'Down Town Restaurant & Cafeteria',
       'Hotel Swagath Grand', 'Arabian Central', 'Arabian Food Court',
       'Louis Burger', 'WOW! Momo', 'Art Of Biryani',
       'New King Safina Hotel', 'MS Bakery', 'A Balaji Santosh Dhaba',
       'Kritunga', 'Dine Hill', 'Zaffran Mataam Alarabi', 'Bawarchi',
       'Balaji Santosh Family Dhaba', 'Swiss Castle', 'The Tea Planet',
       'Lucky Multicuisine Restaurant', 'Express By ABs',
       'Late Night Biryani', 'Karachi Bakery', 'Coffee Cream', 'Mehfil',
       'Surabhi Grand', 'MS Mandi & Shawarma',
       'Gelatica Gelato - Ice Cream', 'Scoops Ice Cream',
       'Spice 9 Restaurant', 'Al Rabea Al Arabi Cafeteria',
       'Hotel Rumaan', 'Pista House - Premium Lounge', 'Lassi Shop',
       'Nazeer Juice Center', 'Sherton Restaurant',
       'Hotel Shubham Prestige', 'Cream Stone Ice Cream',
       "Tibb's Frankie - Serving Rolls Since 1969",
       "Leon's Burgers & Wings", 'New Santosh Dhaba', 'NIC Ice Creams',
       'Blue Sea Tea & Bakery', 'Indira Darshini',
       'Cafe 555 & Aqeeq Restaurant', 'Pizza Hut', 'Shadaan Restaurant',
       'Exotica', 'The Wrap House', 'Natural Ice Cream', 'Oye Kiddan',
       'Maiz Mexican Kitchen', 'BOX8 - Desi Meals', 'Hot N Spicy',
       'Charcoal Eats - Biryani & Beyond', 'Biryani By Kilo',
       "Smokin' Joe's", '99 Pancakes', 'Cheelizza - India Ka Pizza',
       '1441 Pizzeria', 'Starboy Pizza & Shakes', 'Shivsu Pizza',
       'Dum Safar Biryani', 'Chaitanya', 'The Good Bowl', 'SP Burger',
       'PizzaExpress', 'The Momo Factory', 'Dadar Social', 'Jimis Burger',
       'Shobhaa Only Veg', 'One By Two', 'Go Biryan', 'Meal Bowl',
       'The Matka Biryani', 'Chote Nawab',
       "Mealful Rolls - India's Biggest Rolls",
       'Blue Tokai Coffee Roasters', 'Mainland China',
       'Flavours Of China', 'Slyce Pizza', 'Francesco\x92s Pizzeria',
       'Food Adda', 'Delhi Zaika', 'Raj Restaurant', 'Ovenfresh',
       'Aromas Cafe & Bistro', 'Casa Blanca', 'Dimsum Momo Express',
       "Juno's Pizza - Baking Fresh Since 1974",
       'Winners Pizza - Fresh Dough', 'HRX by EatFit', 'Hundo Pizza',
       "Hello Burger's", 'New Pankaj - Sandwich & Pani Puri', 'Wowfillss',
       'Chitale Xpress', 'Tossin Pizza', 'Speak Burgers by Vicky Ratnani',
       'Italian Bay', 'Gokul Refreshment', 'Naadbramha Idli',
       'SLAY Coffee', 'Mughlai Affair',
       'LeanCrust Pizza - ThinCrust Experts', 'Boojee Cafe', 'Art Of Dum',
       'Annamaya', 'Apoorva Delicacies', 'Potoba',
       'Sahara Family Restaurant', 'Momo Guy', 'The Fatty Bao',
       'Jhakas Family Restaurant', 'Fuel Up', 'Nino Burgers',
       'Firangi Bake', 'Food Darzee', 'Haka', 'Dindigul Veetu Kalyanam',
       'Anjappar', 'Mathsya', 'Salem RR Biriyani Unavagam', 'Al Faham',
       'Madurai Sri Thevar Hotel', 'Babal Da Punjabi Dabha',
       'Liza Restaurant', 'Ambaram Fast Food', 'Hotel Sennthur',
       'Taj Mughalai', "Reena Paul's Kitchen", 'Basheer Bai Biriyani',
       'Riyas Biriyani', 'Madurai Pandian Mess', 'Ibrahim Biriyani',
       'Buhari Vintage Hotel', 'Savoury Sea Shell',
       'Bismillah Briyani & Fast Foods', "Agarwal's Desi Khana Khazana",
       'Khalids Biriyani', 'Meat And Eat', 'Adhiya Beef Biriyani',
       'Junior Kuppanna', 'WOW! China', 'The Old Mirchi Biryani',
       'Ponnusamy Hotel', 'Shero Home Food - Chettinad',
       'Potful - Claypot Biryanis', 'A1 Ambur Briyani & Kababs',
       'Navrang Restaurant', 'Chicking', "AB's - Absolute Barbecues",
       'Little India', 'Little Hut', 'Zam Zam Briyani',
       'Shree Konar Vilas', "Writer's Cafe", 'Thanjai Veeraswamy',
       'Hotel Paramount', "Sam's Pork And Beef", 'Grill A Delics',
       'BurgerMan', 'The Chef Company', 'Five Star Chicken', 'Samco',
       'EatFit', 'Courtallam Border Rahmath Kadai', 'Cafe Amin',
       'BBQ Master', 'The High Joint', 'Great Indian Khichdi by EatFit',
       'Mr. Burger', "Jango'z", 'The Kati Roll Shop', 'Little Italy',
       'Eating Circles', 'Delhi Dhaba', 'Shawarma Kings', 'Nxtdoor',
       'Wangs Kitchen', 'Al Baik', 'Armaani Biryani', 'Tower Burger',
       'Go Grill', 'Toscano', 'Gusto Pizza', 'Kunafa House',
       "Lina's Brickoven Newyork Pizzeria", 'Ferrara Pizzeria',
       'The Burger Cafe', 'Kim Ling Chinese Restaurant',
       'T Shop - Tea, Snacks & More',
       'Tibet Momo - World Class Pan Asian Cuisine',
       'Chidambaram New Moorthy Cafe', 'KMS Hakkim Kalyana Biriyani',
       'Keifer', 'Taste Of Turkey', 'Oyalo Pizza',
       'NOTO - Healthy Ice Cream', 'Burger - Since 1989',
       'Imperial Bakery - Since 1955', 'Garden Vada Pav Centre',
       'Supreme Sandwich Corner', 'MH 12 Pav Bhaji', 'Pokket Cafe',
       'MOJO Pizza - 2X Toppings', 'Pizza Bites', 'KGN Xprs', "Wendy's",
       'Sandwich Express', 'The Pizza Box', 'Monginis', 'RK Pure Veg',
       'Roll Point', 'Marrakesh', 'New Bombay Sandwich Burger & Pizza',
       'Chill Out', 'Fried Chicken Destination', 'Hyderabadi Laziz',
       "Mother's Kitchen", 'Blue Nile', 'Bikkgane Biryani', 'Roopali Veg',
       'Burgerino', 'The Chinese Wok', 'Big Bowl', 'Sudama Bhel',
       'Best Belgian Waffle', 'NH1 Bowls - Highway To North', 'Sukanta',
       'Cream Craver', 'Jai Bhavani Snacks Center', 'Biggies Burger',
       'Karachi Sweet Mart', 'Saparito Pizza', "Big Daddy's",
       'Kannu Ki Chai', 'Chaayos Chai+Snacks=Relax', 'George Restaurant',
       'Piazza Pizza By Little Italy', "Bedi's Naan House",
       "Reddy's Fast Food", 'Choice Only Veg', 'King Of Burger',
       'Third Wave Coffee', 'Keventers - Milkshakes & Desserts',
       'Copper Chocs', 'Barista Coffee', 'Rawat Mishthan Bhandar',
       'RollsKing', 'The Pizza Unlimited', 'Kanha', 'Agarwal Caterers',
       'Unlimited Pizza & Fast Food Corner', 'Pizza Unlimited',
       "Chawla's Restaurant", 'Harishankar Veg Restro', "Pizza Baker's",
       'Sodhani Sweets Pvt. Ltd.', 'Sodhani Sweets And Namkeen',
       'Firewood Pizza', 'The Busy Beans', 'Kanji', 'The Pizza Station',
       'Brown Sugar', 'RJ Chai Wala', 'St. Louis Pizza',
       'The Waffle Bite', 'FPF  Coffee Wale Bhaiya', 'Punjabi Tadka',
       'Hil Pizza', 'Burger Shack', 'Ohh Taco', 'JBT Jaipur Burger Truck',
       'Victorian Bakery', 'The Yellow House - The Robot Restaurant',
       'Pizza Bar', 'Sethi Bar-Be-Que', 'Ganesh Bhojnalaya',
       'Vaishnav Dhaba', 'Tipsy Restaurant', 'Game Of Spices',
       'Swat Pizza', 'Bell Pepper Pizza', 'Just A Sec',
       'Burger Singh - Big Punjabi Burgers', 'Tan-Sukh By Kanha',
       'FPF Coffee Wale Bhaiya', 'Pizza And Burger King',
       'Sardaar Ji Chicken Co.', 'Choudhary Dhaba', 'Talk Of The Town',
       'Burger Lane', 'Dip N Bite', 'Khandelwal Dhaba Purana Wala',
       'Marky Momos', 'Kingdoms Pizza', 'Pandit Pav Bhaji',
       'Swadesi Station', 'JMD Bakery & Fast Food',
       'Ghungroo Seth Vada Pav Company', "Goofy's Pizza",
       'Laziz Chicken Food Restaurant', 'Roop Basant Pavitra Bhojnalaya',
       'Basant Dhaba', 'Jal Mahal Ice Cream Parlour', 'Balaji Fast Food',
       'Amma Ki Rasoi', 'U & Me Soya Chaap', 'Sai Chaap Soya',
       'Flavorsome Feasts', 'The Messy Door', 'Burgs & Fries', 'Cake Hut',
       'Shofu - The Momo Man', 'Shri Shyam Bhature Wala', 'Andewalaz',
       'Friedisthan', 'Mini Punjabi',
       'Unlimited Pizza and Fast Food Corner', "Chops 'N' Woks",
       'Captain Chick', 'Tapri Pratham', 'Arham', 'The Momoz Hub',
       'RR62 - Cafe & Kitchen', 'Al Taza', 'Cafe 17', 'Haji Ebrahim',
       'Thaal Kitchen', 'Arabian Dreams', 'Juicy', 'Bektash Turkishcafe',
       'Big Fat Momo', 'Empire Plaza', 'Falooda Nation',
       'Ceylon Bake House', 'Burger Spot',
       'Salkara Xpress By Paragon Group', 'Gokul Oottupura', 'Pitaworks',
       "Paputty's Valsa Cafe", 'Shawarma Daddy', 'Jugos',
       'Nellikka Restaurant', 'Dindigul Thalappakatti',
       'Buhari Special Juice', 'Baskin Robbins - Ice Cream Desserts',
       'Hotel Topform', 'Kunafa World', 'CEE YEM Bakers',
       'Nellikka Cloud Kitchen', 'Madheena Fried Chicken',
       'Cafe Durbar AFC', 'Cups & Cones', 'Burgeria',
       'Sijis Pizza Street', 'Beyondburg Inc', '12 To 12 BBQ',
       'Donut Factory', 'Pai Brothers 36 Varities Of Dosa',
       'Pai Brothers Fast Food', "Meera's Kitchen", 'Hoy Punjab', 'P60',
       'The Hearth Kitchen', 'Woodys Brook', 'Biriyani Bash',
       "Let's Eat Bakers", 'Grameen Kulfi', 'Rizo Resto', 'Firebirds',
       'Calicut Notebook', 'Rumaan Restaurant', 'Pizzaman',
       'Raw Squeezed', 'Manchatti Restaurant', 'Sukumar Food Court',
       'Porkeato De Portico', 'Quick Snacks', 'Tellicherry Kitchen',
       'Sheikh Shawarma', 'Dream Cutlets', 'Shap Food Restaurant',
       'Tea Shack', 'Pizza Ricotta', 'FFC', 'Golden Dragon',
       'Payasam Kada - Taste Trees', 'Meltyway', 'Ritz Classic',
       'Atlanta  Family Resto And Bar', 'NR - Navaratna Udupi Pure Veg',
       'Bar Malim', "Grillin' It", 'Namaste Chai',
       'Tasty Tiffin Food Service', 'Cafe Ave Maria', 'Cafe Cilantro',
       'TFC - The Food Club', 'The Royal Rucchik Restaurant', 'Mum Mai',
       'Atom-Bomb Quality Kitchen', 'Poi & Rolls Adda', 'Evoke',
       'Cafe Feed Me More', 'Biryani Hub', 'Patil Misal', 'Goyaan',
       "Bhosle's Food Court", 'Pakiza Restaurant', 'Cafe Central',
       'The Royal Ruchik', 'Cake Destination', 'Cafe Rasa',
       'Shivam Classic', 'Cafe Cup Of Joy', 'Joshi\x92s Masala Mantra',
       'Asian Bowls By Zahvi', 'Jubilee Restaurant',
       "Goa'rmet By The Tiffin Factory", "Domino's Pizza", 'Truffles',
       'KFC', 'Chinese Wok', 'Meghana Foods', 'A2B - Adyar Ananda Bhavan',
       'FreshMenu', 'Sangeetha Veg Restaurant - Gandhi Irwin Road',
       'Ambur Star Briyani', 'Real Arabia', 'Chowman', 'Arsalan',
       'Oudh 1590', "Kwality Wall's Frozen Dessert And Ice Cream Shop",
       'Baskin\xa0Robbins Happyness Shakes', 'Rominus Pizza And Burger',
       'Burger Farm', 'Thali and More', 'Roll Express',
       'Kwality Wall\x92s Frozen Dessert And Ice Cream Shop',
       'Laziz Pizza', 'Theobroma', "Aroma's Hyderabad House",
       'Rolls Mania', 'P. Bhagat Tarachand', "William John's Pizza",
       'Z K Fry Centre', 'HL Frankie', "The House Of Momo's",
       'Ghar Ka Khana by EatFit', 'Gordhan Thaal', 'Maharaja Thalis',
       'Fayrouz', 'Virasat - E - Curry', 'Jalaram', 'Cheers',
       'The Kebabish', 'Prithvi Hotel', "Day 'N' Night",
       'Shivam Bhojnalay', 'Hari Om Chole Puri', 'La Milano Pizzeria',
       'Nishat Restaurant', '1944 -The HOCCO Kitchen',
       'Alinea Restaurant & Banquet', 'The Grand Thakar', 'Khichdi Etc',
       'Dangee Dums', 'Hari Om Centre', 'Alpine Restaurant & Banquet',
       'New Bombay Biryani', 'Jay Bhavani Vadapav',
       'Shakti - The Sandwich Shop', 'A-One Bombay Biryani', 'Iscon Thal',
       'London Yard Pizza', 'Jassi De Parathe', 'Karnavati Dabeli',
       'Das Khaman', 'The Lio\x92 Pizza', 'Mumbaiya Misal & Vadapav',
       'Om Food Centre', 'Al Baik Fast Food', 'Farki', "Italio's Pizza",
       'MS Food', 'Purohit Restaurant', 'Puffizza', 'New Freeze Land',
       'Anand Bhajipav & Pulav Ankurwala',
       'Shree Marutinandan Kathiyawadi Restaurant', 'Karnavati Snacks',
       'Umiya Annpurna Kathiyawadi', 'Pizza Tune', "RP's Pizzeria",
       'Square Thali', 'Jay Shree Jalaram Parotha House', 'Gopi Bhog',
       'Momoman', 'Gajanand Pauva House', "Martino'z Pizza",
       "Sam's Pizza", 'Urban Khichdi', 'Vadilal - Scoop Shop',
       'Radhe Restaurants', 'PFZ', 'Bole To Vadapav',
       'Havmor Havfunn Ice Cream', 'Anjoy Latenight Meals',
       'Shree Mehfil', 'Jalaram Parotha House', 'The Mohalla',
       'Amritsar Punjab Paratha', 'Pizza Zone', 'The Hunger Box',
       'Living Bowls', 'Chickpet Donne Biryani House',
       'EasyBites by Empire', 'Beijing Bites', 'Andhra Gunpowder',
       'Behrouz Biryani', 'Aromas Of Biryani',
       'RNR Biryani - Taste Of 1953', 'Goli Vada Pav No. 1', 'Pizza@99',
       "Kataria's", 'Hotel N.G.T Non Veg', 'Goila Butter Chicken',
       'Puliyogare Point', 'Hari Super Sandwich', 'Shanmukha',
       'Rolls On Wheels', 'Donne Biryani House',
       'Karnataka Biryani Point', 'Meghduth Biryanis', 'Bucket Biryani',
       'GOPIZZA', 'Krispy Kreme', 'Chaat Street', 'Paratha Envy',
       'Sri Udupi Food Hub', 'Savi Sagar', 'Donne Biriyani Mane',
       'Roti Ghar', 'Pathaan Sir', 'Rajdhani', 'Ande Ka Funda',
       'Nandini Deluxe', 'Hotel Navayuga', 'Lulu Hypermarket',
       'Sandwich Guru', 'Hotel Karavali Food Point', 'Gopaljee Cafe',
       'Daily Sushi', 'Thalairaj Biryani', 'Nisarga', 'Razakhiya Hotel',
       '99 Variety Dosa & Pav Bhaji', 'Tapri By The Corner',
       'Texas Burgers', 'TKS Iyengars', 'Crispy Studio', 'Lassi N Cafe',
       'HSR High Street', 'IBC (Indian Biryani Company)', 'Just Cakes',
       '7 Plates', 'Magnolia Bakery', "Mother's Meal", 'Paratha Club',
       'Iyer Mess', 'Marwadi Chaat & Tiffin Services',
       'Kolkata Famous Kati Roll', 'Brik Oven', 'Keventers Ice Cream',
       'Chung Fa Restaurant', 'Wat-a-Burger! - India ka Burger',
       'Dastarkhwan', 'Pizza Cave', 'The American Pizza', 'The Oven',
       'Old Al - Baik', 'The Hazelnut Factory', 'Pizza Wizza',
       'Lalla Biryani - Since 1985', 'D Pizza Club', 'Mr. Brown - Danbro',
       'Pizzatarian', 'The Kalika Hut', 'Sharma Chai', 'Hot Pizza Ace',
       'Madhurima Veg', 'Grandson Of Tunday Kababi', 'Vadilal Ice Creams',
       'Pizza Pool', 'Pizza Potter', 'Pizza Pie',
       'Muradabadi Chicken Biryani', "LA'Pizza Club", 'Kuduk Chicken',
       'Craving Bites', 'Pawan Sweet & Bhojnalay',
       'Hotel Lazeez Al Darbar', 'Nukkad Cafe',
       'The Diamond Pizza & Chinese Point', 'Zeeshan Biryani Corner',
       'Mishra Bhojanalaya', 'Richi Rich', 'Goli Vadapav No.1',
       'Pizzaport & Cafe', 'Alibaba', 'Neelkanth Sweets',
       'Sharma Ji Ki Chai', 'Al Baik Xpress', 'Radhey Lal Sweets',
       "Rattilal's - Sitapur Road", 'Billu Tandooria', 'The Dastarkhan',
       'Tuday Kebabi', 'Spice Village',
       "Bombay Natural's Pizza & Soya Chaap", 'Home Town Pizza',
       'Balle Balle Delhi Wale Soya Chaap Zone', 'PVR CafÃ©',
       'Deva Food Mart', 'The Garam Chulha', 'Maharaja Restaurant',
       'Roasties', 'Pizza Pandey', 'Royalz Pepper', 'Farzi Cafe',
       'Nazeer Foods', 'Baap Of Rolls', 'Paparizza - Woodfired Pizzas',
       'Big Smokin Burgers', 'Burger Xpress', 'Alkakori',
       'ICP Italian Crust Pizza', 'Anju Sweets', 'Apni Rasoi Int',
       'Hira Sweets', 'Pizza Studio', 'Kings Kulfi',
       'Prasuma Momo Kitchen', "Good Flippin' Burgers",
       "Chili's Grill & Bar", 'Delhi Darbar Dhaba', 'Diggin',
       'Tite Da Dhaba', 'Hashtag Foods', 'Oven Day Pizza', 'If Pizza',
       'Shiraz Golden Restaurant', 'Grab Feast', 'Lazeez Biryani',
       'Rosy Roti', 'Royal Indian Hotel  - Since 1905',
       'The Burping Panda', 'Zam Zam Restaurant', 'Rang De Basanti Dhaba',
       'Edabba', 'Hatari', 'Mitra Cafe', 'Mama Mia!', 'Kathi Junction',
       'Raasta Cafe', 'Sher-E-Punjab', 'Momo I Am', 'Kreamz',
       'New Paul Dhaba Veggie Hub', 'Shawarma Nation', 'Veggie Corner',
       "Goutam's", 'Fried Chicken Wala',
       'Balaram Mullick & Radharaman Mullick Sweets', 'Roy Pizza House',
       'The Biryani Inc.', 'Rollick', "Sip 'N' Bite's", 'Dreams Cafe',
       'Pizza Wala', 'HFC', 'Taj Biryani', 'Mezban', 'Eagle Bites Pizza',
       'I Love Haldiram', 'WFC - Wow Fried Chicken',
       'Super Star Hazi Biryani', 'Saima Restaurant', 'Raffs F9',
       'Khana Khazana', 'Roy Dhaba', 'Noodle King', 'Golden Joy',
       'Burger In Law', 'Tea Junction', 'The Bahubelly', 'Safe House',
       'Peaberrys', 'Axis Juice', 'Sikkim Jojo', 'Manju Mamta Restaurant',
       'Hotel Hyderabadi', 'Pizza Olive', 'Moti Mahal', 'Sandwich Jn.',
       'Chicago Pizza', 'Momo Magic Cafe', "Mario's", 'Pizza@89',
       'Creams N Caffeine', 'Veggiies', 'Pizza @90', 'Urban Biryani',
       'Jalaram Sweets And Namkeen', 'Galaxy Food Centre', 'Pavdos Cafe',
       'Uno Dos Tres', "Kikki's Cafe",
       'Hot Chemistry- Indian Heritage Hotel', "Ustaad's Kitchen",
       'Ashifa Laziz Biryani', 'Starbucks Coffee',
       'Goli Rolls And Vada Pav', 'Hot 100', 'Confusion Box',
       'Samriddhi Thali', "CA's Kitchen", 'Pure Momos', 'Bunk Class',
       'Chapter One', 'Cafe 36', 'Wafflez', 'Sandwich Junction',
       'Just Chaska', 'Tandoor -3 Family Dhaba', "Chef's Kitchen",
       'Iconic Cafe', 'Binge Box', 'Chai Govindam', 'Xero Degrees',
       'KGN Chicken Corner & Biryani Center', 'Pohewala',
       'The Breakfast Cafe', 'Dakshin Swaad', 'Ariena Boutique Hotel'],
      dtype=object)

In [33]:
df.head(10)

,Restaurant Name,Dining Rating,Delivery Rating,Dining Votes,Delivery Votes,Cuisine,Place Name,City,Item Name,Best Seller,Votes,Prices
0,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Platter Kebab Combo,BESTSELLER,84,249.0
1,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken Rumali Shawarma,BESTSELLER,45,129.0
2,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken Tandoori Salad,NaN,39,189.0
3,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken BBQ Salad,BESTSELLER,43,189.0
4,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Special Doner Wrap Combo,MUST TRY,31,205.0
5,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken Tandoori Pizza [8 inches],BESTSELLER,48,199.0
6,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Special Zinger Tortilla Wrap,CHEF'S SPECIAL,27,165.0
7,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken Popcorn [20 Pieces],BESTSELLER,59,165.0
8,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken Tandoori Sandwich,NaN,29,115.0
9,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken Bread Samoli Shawarma,NaN,31,129.0

In [34]:
df.tail()

,Restaurant Name,Dining Rating,Delivery Rating,Dining Votes,Delivery Votes,Cuisine,Place Name,City,Item Name,Best Seller,Votes,Prices
123652,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Reshmi Kebab,NaN,0,525.0
123653,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Large Tikka,NaN,0,525.0
123654,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Chukandri Tikka,NaN,0,525.0
123655,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Golden Kebab,NaN,0,525.0
123656,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Gosht Gilawat Chop,BESTSELLER,0,595.0

In [35]:
# To print the dataframe number of rows?
print(len(df.values))

123657

In [36]:
# To get the dataframe index names..
print(df.index)

RangeIndex(start=0, stop=123657, step=1)

In [37]:
df.rename(columns={'Best Seller':'Best-Sell'},inplace=True)
df

,Restaurant Name,Dining Rating,Delivery Rating,Dining Votes,Delivery Votes,Cuisine,Place Name,City,Item Name,Best-Sell,Votes,Prices
0,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Platter Kebab Combo,BESTSELLER,84,249.0
1,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken Rumali Shawarma,BESTSELLER,45,129.0
2,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken Tandoori Salad,NaN,39,189.0
3,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken BBQ Salad,BESTSELLER,43,189.0
4,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Special Doner Wrap Combo,MUST TRY,31,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...
123652,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Reshmi Kebab,NaN,0,525.0
123653,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Large Tikka,NaN,0,525.0
123654,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Chukandri Tikka,NaN,0,525.0
123655,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Golden Kebab,NaN,0,525.0
123656,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Gosht Gilawat Chop,BESTSELLER,0,595.0

In [38]:
# to sort according to the rating high to low 
df1=df.sort_values('Dining Rating',ascending=False) # filtering 
df1

,Restaurant Name,Dining Rating,Delivery Rating,Dining Votes,Delivery Votes,Cuisine,Place Name,City,Item Name,Best-Sell,Votes,Prices
106323,Natural Ice Cream,4.8,4.5,0,0,Beverages,Connaught Place,New Delhi,Tender Coconut Ice Cream,BESTSELLER,287,79.24
106312,Natural Ice Cream,4.8,4.5,0,0,Beverages,Connaught Place,New Delhi,Sitaphal Ice Cream,MUST TRY,102,79.24
106314,Natural Ice Cream,4.8,4.5,0,0,Beverages,Connaught Place,New Delhi,"Anjeer (Medium Fat Ice Cream, No Added Sugar)",NaN,0,83.91
106333,Natural Ice Cream,4.8,4.5,0,0,Beverages,Connaught Place,New Delhi,Kesar Pista Ice Cream,BESTSELLER,53,79.24
106332,Natural Ice Cream,4.8,4.5,0,0,Beverages,Connaught Place,New Delhi,Malai Ice Cream,BESTSELLER,44,79.24
...,...,...,...,...,...,...,...,...,...,...,...,...
123319,The Breakfast Cafe,NaN,3.6,1,682,Pizza,Civil Lines,Raipur,Poha + Masala Dosa,NaN,0,214.00
123320,The Breakfast Cafe,NaN,3.6,1,682,Pizza,Civil Lines,Raipur,Sabudana Khichdi+veg Grilled Sandwich,NaN,0,245.00
123321,The Breakfast Cafe,NaN,3.6,1,682,Pizza,Civil Lines,Raipur,Sabudana Wada+idli Fry,NaN,0,225.00
123322,The Breakfast Cafe,NaN,3.6,1,682,Pizza,Civil Lines,Raipur,Sattu Paratha With Aloo Sabji+lassi,NaN,0,275.00
123323,The Breakfast Cafe,NaN,3.6,1,682,Pizza,Civil Lines,Raipur,Vegetable Maggie+veg Grilled Sandwich,NaN,0,205.00

In [6]:
df1=df.sort_values('Delivery Rating',ascending=False) # filtering 
df1

,Restaurant Name,Dining Rating,Delivery Rating,Dining Votes,Delivery Votes,Cuisine,Place Name,City,Item Name,Best Seller,Votes,Prices
62463,Dream Cutlets,NaN,4.6,0,449,Fast Food,Fort Kochi,Kochi,Sausage Cheese Wrap [5 Pieces],BESTSELLER,10,120.0
62479,Dream Cutlets,NaN,4.6,0,449,Fast Food,Fort Kochi,Kochi,Fish Cutlet [1 Piece],NaN,18,20.0
62481,Dream Cutlets,NaN,4.6,0,449,Fast Food,Fort Kochi,Kochi,Chicken Russian Cutlet,CHEF'S SPECIAL,42,28.0
62482,Dream Cutlets,NaN,4.6,0,449,Fast Food,Fort Kochi,Kochi,2 Mix Veg Cheese with 2 Mix Veg Paneer,NaN,0,100.0
62483,Dream Cutlets,NaN,4.6,0,449,Fast Food,Fort Kochi,Kochi,5 Meat + 2 Fish Cutlets,BESTSELLER,27,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...
122700,Burger Singh - Big Punjabi Burgers,NaN,NaN,0,0,Pizza,Tatibandh,Raipur,Chocolava Cake,NaN,5,99.0
122701,Burger Singh - Big Punjabi Burgers,NaN,NaN,0,0,Pizza,Tatibandh,Raipur,Hot Bihari Dip,NaN,0,25.0
122702,Burger Singh - Big Punjabi Burgers,NaN,NaN,0,0,Pizza,Tatibandh,Raipur,Tandoori Dip,NaN,0,25.0
122703,Burger Singh - Big Punjabi Burgers,NaN,NaN,0,0,Pizza,Tatibandh,Raipur,Cheese Dip,NaN,0,25.0
122704,Burger Singh - Big Punjabi Burgers,NaN,NaN,0,0,Pizza,Tatibandh,Raipur,Mayonnaise Dip,NaN,0,20.0

In [39]:
# to get top 5 rated 
df1.head()

,Restaurant Name,Dining Rating,Delivery Rating,Dining Votes,Delivery Votes,Cuisine,Place Name,City,Item Name,Best-Sell,Votes,Prices
106323,Natural Ice Cream,4.8,4.5,0,0,Beverages,Connaught Place,New Delhi,Tender Coconut Ice Cream,BESTSELLER,287,79.24
106312,Natural Ice Cream,4.8,4.5,0,0,Beverages,Connaught Place,New Delhi,Sitaphal Ice Cream,MUST TRY,102,79.24
106314,Natural Ice Cream,4.8,4.5,0,0,Beverages,Connaught Place,New Delhi,"Anjeer (Medium Fat Ice Cream, No Added Sugar)",NaN,0,83.91
106333,Natural Ice Cream,4.8,4.5,0,0,Beverages,Connaught Place,New Delhi,Kesar Pista Ice Cream,BESTSELLER,53,79.24
106332,Natural Ice Cream,4.8,4.5,0,0,Beverages,Connaught Place,New Delhi,Malai Ice Cream,BESTSELLER,44,79.24

In [12]:
df.rename(columns={'City':'CITY'},inplace=True)
df

,Restaurant Name,Dining Rating,Delivery Rating,Dining Votes,Delivery Votes,Cuisine,Place Name,CITY,Item Name,Best Seller,Votes,Prices
0,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Platter Kebab Combo,BESTSELLER,84,249.0
1,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken Rumali Shawarma,BESTSELLER,45,129.0
2,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken Tandoori Salad,NaN,39,189.0
3,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken BBQ Salad,BESTSELLER,43,189.0
4,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Special Doner Wrap Combo,MUST TRY,31,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...
123652,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Reshmi Kebab,NaN,0,525.0
123653,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Large Tikka,NaN,0,525.0
123654,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Chukandri Tikka,NaN,0,525.0
123655,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Golden Kebab,NaN,0,525.0
123656,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Gosht Gilawat Chop,BESTSELLER,0,595.0

In [15]:
df1['Place Name'].value_counts()

C Scheme           3775
Navrangpura        1936
Chembur            1826
Charminar          1751
Abids              1668
                   ...
Shobha Bazar         16
Das Naagar           15
Elamakkara           13
Tripunithura          9
Deccan Gymkhana       4
Name: Place Name, Length: 324, dtype: int64

In [22]:
df1[['Restaurant Name','City']]

                           Restaurant Name     City
62463                        Dream Cutlets    Kochi
62479                        Dream Cutlets    Kochi
62481                        Dream Cutlets    Kochi
62482                        Dream Cutlets    Kochi
62483                        Dream Cutlets    Kochi
...                                    ...      ...
122700  Burger Singh - Big Punjabi Burgers   Raipur
122701  Burger Singh - Big Punjabi Burgers   Raipur
122702  Burger Singh - Big Punjabi Burgers   Raipur
122703  Burger Singh - Big Punjabi Burgers   Raipur
122704  Burger Singh - Big Punjabi Burgers   Raipur

[123657 rows x 2 columns]

In [11]:
# To print the student name start with 'a' from dataset?
df1[df1['Restaurant Name'].str.startswith('B')]

,Restaurant Name,Dining Rating,Delivery Rating,Dining Votes,Delivery Votes,Cuisine,Place Name,City,Item Name,Best Seller,Votes,Prices
113326,Balaram Mullick & Radharaman Mullick Sweets,3.3,4.5,6,0,Pizza,Theatre Road,Kolkata,Mango Souffle,BESTSELLER,0,450.0
113325,Balaram Mullick & Radharaman Mullick Sweets,3.3,4.5,6,0,Pizza,Theatre Road,Kolkata,Mango Souffle Cup [4 Pieces],NaN,0,180.0
113324,Balaram Mullick & Radharaman Mullick Sweets,3.3,4.5,6,0,Pizza,Theatre Road,Kolkata,Rasmundi Rasmalai,NaN,11,150.0
113323,Balaram Mullick & Radharaman Mullick Sweets,3.3,4.5,6,0,Pizza,Theatre Road,Kolkata,Pantua [4 Pieces],NaN,7,80.0
113321,Balaram Mullick & Radharaman Mullick Sweets,3.3,4.5,6,0,Pizza,Theatre Road,Kolkata,Rossogolla [5 Pieces],BESTSELLER,19,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...
122700,Burger Singh - Big Punjabi Burgers,NaN,NaN,0,0,Pizza,Tatibandh,Raipur,Chocolava Cake,NaN,5,99.0
122701,Burger Singh - Big Punjabi Burgers,NaN,NaN,0,0,Pizza,Tatibandh,Raipur,Hot Bihari Dip,NaN,0,25.0
122702,Burger Singh - Big Punjabi Burgers,NaN,NaN,0,0,Pizza,Tatibandh,Raipur,Tandoori Dip,NaN,0,25.0
122703,Burger Singh - Big Punjabi Burgers,NaN,NaN,0,0,Pizza,Tatibandh,Raipur,Cheese Dip,NaN,0,25.0
122704,Burger Singh - Big Punjabi Burgers,NaN,NaN,0,0,Pizza,Tatibandh,Raipur,Mayonnaise Dip,NaN,0,20.0

In [23]:
df1[df1['Prices'] == 180] # data of costumers budget related restrauants

,Restaurant Name,Dining Rating,Delivery Rating,Dining Votes,Delivery Votes,Cuisine,Place Name,City,Item Name,Best Seller,Votes,Prices
113325,Balaram Mullick & Radharaman Mullick Sweets,3.3,4.5,6,0,Pizza,Theatre Road,Kolkata,Mango Souffle Cup [4 Pieces],NaN,0,180.0
113277,Balaram Mullick & Radharaman Mullick Sweets,3.3,4.5,6,0,Pizza,Theatre Road,Kolkata,Mango Souffle Cup [4 Pieces],NaN,0,180.0
5316,Kwality WallÂ’s Frozen Dessert and Ice Cream Shop,NaN,4.5,0,346,Desserts,Kacheguda,Hyderabad,"Butterscotch [700 ml, 1 Tub]",NaN,8,180.0
61385,Let's Eat Bakers,NaN,4.4,0,0,Sandwich,Panampilly Nagar,Kochi,Jeera Salted Cookies [200 grams],NaN,0,180.0
61376,Let's Eat Bakers,NaN,4.4,0,0,Sandwich,Panampilly Nagar,Kochi,Pista Stick Cookies [200 grams],NaN,0,180.0
...,...,...,...,...,...,...,...,...,...,...,...,...
65346,Goa'rmet By The Tiffin Factory,NaN,NaN,0,14,Desserts,Panaji,Goa,Mushroom Xacuti + 4 Chapatis,NaN,0,180.0
65350,Goa'rmet By The Tiffin Factory,NaN,NaN,0,14,Desserts,Panaji,Goa,Mushroom Xacuti Meal Box,NaN,0,180.0
65351,Goa'rmet By The Tiffin Factory,NaN,NaN,0,14,Desserts,Panaji,Goa,Veg Cafreal Meal Box,NaN,0,180.0
65420,Goa'rmet By The Tiffin Factory,NaN,NaN,0,14,Desserts,Panaji,Goa,Vegetable Fried Rice,NaN,0,180.0
65424,Goa'rmet By The Tiffin Factory,NaN,NaN,0,14,Desserts,Panaji,Goa,Vegetable Pulao,NaN,0,180.0

## DAta cleaning

In [40]:
df.isnull()

,Restaurant Name,Dining Rating,Delivery Rating,Dining Votes,Delivery Votes,Cuisine,Place Name,City,Item Name,Best-Sell,Votes,Prices
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
123652,False,False,False,False,False,False,False,False,False,True,False,False
123653,False,False,False,False,False,False,False,False,False,True,False,False
123654,False,False,False,False,False,False,False,False,False,True,False,False
123655,False,False,False,False,False,False,False,False,False,True,False,False
123656,False,False,False,False,False,False,False,False,False,False,False,False

In [43]:
# To print the only null values records
df[df.isnull().any(axis=1)]

,Restaurant Name,Dining Rating,Delivery Rating,Dining Votes,Delivery Votes,Cuisine,Place Name,City,Item Name,Best-Sell,Votes,Prices
2,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken Tandoori Salad,NaN,39,189.0
8,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken Tandoori Sandwich,NaN,29,115.0
9,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken Bread Samoli Shawarma,NaN,31,129.0
10,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Fish Platter [Boneless Indian Basa],NaN,9,295.0
14,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,French Fries + Coke [220 ml],NaN,0,199.0
...,...,...,...,...,...,...,...,...,...,...,...,...
123651,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Chilli Kebab,NaN,0,525.0
123652,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Reshmi Kebab,NaN,0,525.0
123653,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Large Tikka,NaN,0,525.0
123654,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Chukandri Tikka,NaN,0,525.0
123655,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Golden Kebab,NaN,0,525.0

In [44]:
df.isnull().sum()

Restaurant Name        0
Dining Rating      32236
Delivery Rating     1280
Dining Votes           0
Delivery Votes         0
Cuisine                0
Place Name             0
City                   0
Item Name              0
Best-Sell          95715
Votes                  0
Prices                 0
dtype: int64

In [45]:
# To fill the specific column name null vallues
df['Dining Rating'].fillna(0,inplace=True)
df

,Restaurant Name,Dining Rating,Delivery Rating,Dining Votes,Delivery Votes,Cuisine,Place Name,City,Item Name,Best-Sell,Votes,Prices
0,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Platter Kebab Combo,BESTSELLER,84,249.0
1,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken Rumali Shawarma,BESTSELLER,45,129.0
2,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken Tandoori Salad,NaN,39,189.0
3,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken BBQ Salad,BESTSELLER,43,189.0
4,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Special Doner Wrap Combo,MUST TRY,31,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...
123652,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Reshmi Kebab,NaN,0,525.0
123653,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Large Tikka,NaN,0,525.0
123654,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Chukandri Tikka,NaN,0,525.0
123655,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Golden Kebab,NaN,0,525.0
123656,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Gosht Gilawat Chop,BESTSELLER,0,595.0

In [46]:
df['Delivery Rating'].fillna(0,inplace=True)
df

,Restaurant Name,Dining Rating,Delivery Rating,Dining Votes,Delivery Votes,Cuisine,Place Name,City,Item Name,Best-Sell,Votes,Prices
0,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Platter Kebab Combo,BESTSELLER,84,249.0
1,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken Rumali Shawarma,BESTSELLER,45,129.0
2,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken Tandoori Salad,NaN,39,189.0
3,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken BBQ Salad,BESTSELLER,43,189.0
4,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Special Doner Wrap Combo,MUST TRY,31,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...
123652,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Reshmi Kebab,NaN,0,525.0
123653,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Large Tikka,NaN,0,525.0
123654,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Chukandri Tikka,NaN,0,525.0
123655,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Golden Kebab,NaN,0,525.0
123656,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Gosht Gilawat Chop,BESTSELLER,0,595.0

In [47]:
df['Best-Sell'].fillna('not specific',inplace=True)
df

,Restaurant Name,Dining Rating,Delivery Rating,Dining Votes,Delivery Votes,Cuisine,Place Name,City,Item Name,Best-Sell,Votes,Prices
0,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Platter Kebab Combo,BESTSELLER,84,249.0
1,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken Rumali Shawarma,BESTSELLER,45,129.0
2,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken Tandoori Salad,not specific,39,189.0
3,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Chicken BBQ Salad,BESTSELLER,43,189.0
4,Doner King,3.9,4.2,39,0,Fast Food,Malakpet,Hyderabad,Special Doner Wrap Combo,MUST TRY,31,205.0
...,...,...,...,...,...,...,...,...,...,...,...,...
123652,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Reshmi Kebab,not specific,0,525.0
123653,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Large Tikka,not specific,0,525.0
123654,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Chukandri Tikka,not specific,0,525.0
123655,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Murgh Golden Kebab,not specific,0,525.0
123656,Ariena Boutique Hotel,3.9,4.2,13,523,Pizza,Purena,Raipur,Gosht Gilawat Chop,BESTSELLER,0,595.0

In [48]:
df.isnull().sum() # data cleaning finished

Restaurant Name    0
Dining Rating      0
Delivery Rating    0
Dining Votes       0
Delivery Votes     0
Cuisine            0
Place Name         0
City               0
Item Name          0
Best-Sell          0
Votes              0
Prices             0
dtype: int64